NEXT_PUBLIC_APP_NAME=Moneger
NEXT_PUBLIC_APP_URL=https://moneger.marcbd.site
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAiqm5daDM32qYiv1mf3unrj4Y79ADL58U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=moneger-a04c6.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=moneger-a04c6
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=moneger-a04c6.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=578851135674
NEXT_PUBLIC_FIREBASE_APP_ID=1:578851135674:web:64efe3e2b6b4c2d56be283
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-CJC9TFS5G0
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_SYNC_COLLECTION=moneger-sync
